/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: #d3678d;
  background-image: url('../images/bg_turnip_02.png');
	background-position: top;
  font-size: 18px;
  font-family: 'Lora', serif;
  font-style: normal;
  margin: 0;
  overflow-x: hidden;
  cursor: url("../images/cuteshit/cursor-vaporwavenormal.cur"), default;
}

a {
  color: darkred;
  cursor: pointer;
}
a:visited {  
  color: darkred;
}
a:hover {
  cursor: url("../images/cuteshit/cursor-cocolinkselect.cur"), default;
  background-color: #fff6e6;
}

p {
  line-height: 1.6em; /*I find the default HTML line-height tends to be a bit claustrophobic for main text*/
}

hr {
  border: solid #aa6db6;
  border-width: 2px 0 0 0;
  opacity: 0;
}

img {
  width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.right {
  float: right;
  margin-left: 1em;
}
.left {
  float: left;
  margin-right: 1em;
}
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
}

.display-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  text-align: center;
}

.hidden {
  display: none;
}
.invisible {
  opacity: 0;
  pointer-events: none !important;
}

@media only screen and (max-width: 600px) {
  .small {
    max-width: 60%;
    height: auto;
  }
  .sticker {
    height: 10vw;
    width: 10vw;
  }
}

.caption {
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;
}
.emphasize {
  margin-top: 0;
  font-weight: bold;
  font-style: italic;
}
.featured {
  color: #72d000;
  margin-top: 0;
  font-size: 0.6em;
  font-style: italic;
}
.wavy {
  transform: translateY(0px);
}
.wavy span {
  display: inline-block;
}
.wavy[wavy-highlight-style="bubble"] span {
  border-radius: 5px;
  padding-right: 2px;
  padding-left: 2px;
}
.wavy[wavy-highlight-color="blue"] span {
  color: #fff;
  background-color: #55CDFC;
}
.quoteblock {
  padding-left: 5%;
  border-left: 2px outset #613879;
}
.pastebin {
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
  background-color: #1d0d17;
  border-radius: 4px;
  padding: 0px 5%;
  color: rgb(225, 65, 158);
  white-space: nowrap;
  margin-bottom: 1.2em;
}
.pastebin pre {
  margin: 0px;
}


h1, h2, h3, h4, h5, label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #d3678d;
  margin: 0px;
}

/*#CONTAINER is the rectangle that contains everything but the background!*/
#container {
  margin: 3em auto;
  width: 90%;
	max-width: 700px;
  color: #151515; 
}

#content {
  background-color: pink;
  border-radius: 5px;
  padding-bottom: 5px;
  overflow: clip;
  margin-top: 10px;
}
.navspacer {
  padding-top: 31px;
}
#content-colorborder {
  padding: 15px 3% 10px 3%;
  margin-bottom: 15px;
	background-color: #ffffff;
  border-radius: 4px;
}


/*HEADER STYLE*/
#header {
  background-image: url("../images/gifs/grass.png");
  background-size: contain;
  background-repeat: repeat-x;
  image-rendering: crisp-edges;
  padding: 0 5%;
  border-color: #fcfcfc;
  border-style:inset;
  border-width: 0 0 4px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
}
#header ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#header li {
  font-size: 1.2em;
  display: inline-block;
  margin: 0.2em 1.5em;
}
#header li a {
  color: white;
  text-decoration: none;
  background-color: inherit;
}
#header li a:hover {
  border-bottom: dotted;
}



/*POST LIST STYLE*/
#recentpostlistdiv, #pinnedpostlistdiv {
  padding-left: 2%;
}
#postlistdiv ul, #experimentslistdiv ul, #recentpostlistdiv ul, #pinnedpostlistdiv ul {
  font-size: 1.2em;
  font-style: italic;
  padding: 0;
  list-style-type: none;
  margin-top: 0.2em;
}
.moreposts {
  font-size: 0.8em;
  margin-top: 0.2em;
}

.threejs-embed {
  width: 100%;
  overflow: hidden;
}
.threejs-embed body {
  overflow: hidden;
}
.form {
  margin: 0px;
  width: 100%;
  height: max-content;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column;
}
.form input {
  border-radius: 30px;
  border-style: dashed;
  padding: 5px;
  padding-left: 15px;
  margin-bottom: 15px;
  font-size: 1em;
}
.freebirdFormviewerViewNavigationPasswordWarning {
  display: none !important;
  opacity: 0;
}
.freebirdFormviewerViewFooterEmbeddedBackground {
  display: none;
  opacity: 0;
}

#adoodle {
  width: 100px;
  mix-blend-mode: darken;
  opacity: .75;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
  color: darkred;
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 0.3em;
  background: pink;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.navfixed {
  position: fixed;
  top: 0px;
  /* width: 672px; */
  z-index: 1;
}

/*DISQUS STYLE*/
#disqus_thread {
  margin-top: 1.6em;
}

/*FOOTER STYLE*/
#footer {
  font-size: 0.7em;
  padding: 0 2.5% 10px 2.5%;
  text-align: center;
  background-color: pink;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
}

/* STICKERS */
.sticker {
  /* background-color: sienna; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 2;
}
.sticker a {
  width: 100%;
  height: 100%;
  display: block;
  opacity: .5;
}
